.loaction-button {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: rgba(63, 149, 147, 0.72);
    flex-grow: 1;
}

.location-button:hover {
    background-color: rgba(76, 255, 226, 0.91);
}
